html, body, div, map, dt, isindex, form, header, aside, section, section, article, footer {  
    display: block;  
} 

html, body {
height: 100%;
margin: 0;
padding: 0;
font-family: Verdana, Helvetica, Arial, sans-serif;
background: #F8F8F8;
font-size: 11px;
}

/* logo smk */
.logosmk {
padding-top: 5px;
padding-bottom: 5px;
width: 33%;
height: 33%;
}

/* login layout */

#loginbg {
	background: url(../images/black.png) repeat;
	margin-top: 0;
}

section#login {
	background-color: #FFFFFF; 
	width: 400px;
	position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
	border-radius: 10px;
	font-family: "calibri";
	box-shadow: 10px 10px 5px #000000;
}

/* button */

.btn_login {
	background-color: #27408B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    transition: 0.5s;
}

.btn_login:hover {
	background-color: #3A5FCD;
	width: 100%;
	transition: 0.5s;
}

.btn_daftar {
	background-color: #27408B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn_daftar:hover {
	background-color: #3A5FCD;
	transition: 0.5s;
}

.btn {
	cursor: pointer;
}

/* Sidebar */

aside#sidebar {
width: 20%;
position: fixed;
background: url(../images/sidebar.png) repeat;
float: left;
height: 100%;
}

#sidebar hr {
border: none;
outline: none;
background: url(../images/sidebar_divider.png) repeat-x;
display: block;
width: 100%;
height: 2px;
}

/* Sidebar Menu */

#sidebar h3 {
color: #1F1F20;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 10px 0 10px 6%;
display: block;
float: left;
width: 90%;
}

#sidebar ul {
clear: both;
margin: 0; padding: 0;
}

#sidebar li {
list-style: none;
margin: 0 0 0 12%; padding: 0;
}

#sidebar li a {
color: #666666;
padding-left: 25px;
text-decoration: none;
display: inline-block;
height: 17px;
line-height: 17px;
text-shadow: 0 1px 0 #fff;
margin: 2px 0;
}

#sidebar li a:hover {
color: #444444;
}

#sidebar h1 {
	padding-top: 5px;
}

/* Sidebar Icons */

#sidebar li.icn_new_article a {
background: url(../images/icn_new_article.png) no-repeat center left;
}
#sidebar li.icn_add_user a {
background: url(../images/icn_add_user.png) no-repeat center left;
}
#sidebar li.icn_edit_article a {
background: url(../images/icn_edit_article.png) no-repeat center left;
}
#sidebar li.icn_profile a {
background: url(../images/icn_profile.png) no-repeat center left;
}
#sidebar li.icn_folder a {
background: url(../images/icn_folder.png) no-repeat center left;
}
#sidebar li.icn_jump_back a {
background: url(../images/icn_jump_back.png) no-repeat center left;
}

#sidebar p {
color: #666666;
padding-left: 6%;
text-shadow: 0 1px 0 #fff;
margin: 10px 0 0 0;}

#sidebar a {
color: #666666;
text-decoration: none;
}

#sidebar a:hover {
text-decoration: underline;
}

#sidebar footer {
margin-top: 10px;
height: 150px;
}

/* Main Content */

section#main {
width: 77%;
min-height: 500px;
float: left;
margin-top: -2px;
margin-left: 22%;
}

#main h3 {
color: #1F1F20;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 20px;
}

/* Module */

.module {
border: 1px solid #9BA0AF;
width: auto;
margin-right: 20px;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #ffffff;
}

.module header h3 {
display: block;
margin: 10px 20px;
width: auto;
float: left;
}

.module header {
height: 38px;
width: 100%;
background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-top-left: 5px; -moz-border-radius-top-right: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module footer {
height: 32px;
width: 100%;
border-top: 1px solid #9CA1B0;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottom-left: 5px; -moz-border-radius-bottom-right: 5px;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.module_content {
margin: 10px 20px;
color: #666;}